# Example

# PORT=3000

# MONGO_URI=mongodb+srv://<Database_user>:<DB_admin_password>@cluster1.qmalwek.mongodb.net/<DB_name>?appName=<Cluster_name>

# <Database_user>
# <DB_admin_password>
# <DB_name>
# <Cluster_name>